@import "reset.css";

* {
  font-family: "Open Sans", sans-serif;
}

.header__container {
  background-color: #313131;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__item {
  background-color: #000;
  width: 70px;
  text-align: center;
  padding: 24px 0px;
}

.menu {
  display: flex;
}

.menu__item {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px 17px;
}

.menu__item:hover {
  color: #14b9d5;
}

.logo {
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.logo__text {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
}

.logo__picture {
  margin: 0px 30px;
}

.parallax__section {
  height: 370px;
  background-color: #000;
  background-image: url(../img/header-bg.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 200%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parallax__title {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  margin-top: 160px;
  margin-bottom: 45px;
}

.btn__subscribe {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  background: #89ca62;
  color: #fff;
  padding: 15px 0px;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  width: 170px;
}

.btn__articles {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  background: #14b9d5;
  color: #fff;
  padding: 15px 0px;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  width: 170px;
}

.btn__container {
  display: flex;
}

.posts__section {
  background: #f2f2f2;
  padding-top: 50px;
}

.posts__title {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #18b4cf;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  height: 900px;
  align-content: center;
  margin-top: 35px;
}

.posts__list {
  max-width: 370px;
  margin: 15px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.2);
}

.posts__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  padding: 20px 0px;
}

.clients__section {
  background-image: url(../img/architecture_bg.jpeg);
  background-attachment: fixed;
  height: 588px;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

.clients__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: #ffffff;
}

.clients__header {
  display: grid;
  justify-content: center;
  align-items: end;
}

.clients__title::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #18b4cf;
  display: block;
  margin: 87px auto 0;
}

.clients__list {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: 207px 135px 232px 141px;
  justify-content: center;
  align-items: center;
}

.top-rated__section {
  padding-top: 50px;
}

.top-rated__title {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #18b4cf;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.top-rated__list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

img {
  max-width: 100%;
}

.hot-news__title {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #18b4cf;
  text-align: center;
}

.hot-news__section {
  padding-top: 50px;
  padding-bottom: 70px;
}

/* Grid Section */
.hot-news__list {
  display: grid;
  grid-template-areas:
    "post-1 post-1 post-1 post-2"
    "post-3 post-3 post-4 post-4"
    "post-5 post-5 post-6 post-6"
    "post-7 post-8 post-8 post-8";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 40px;
  grid-column-gap: 60px;
}

.grid__container {
  max-width: 1170px;
  margin: 0 auto;
}

.post-1 {
  grid-area: post-1;
  display: grid;
  grid-template-columns: 50% 50%;
}

.hot-news__container {
  text-align: end;
  padding: 35px 24px;
}

.post-2 {
  grid-area: post-2;
}

.subtitle__center {
  text-align: center;
  padding-top: 5px;
}

.text__end {
  text-align: end;
  padding: 0px 14px;
}

.subtitle__end {
  text-align: end;
  padding: 0px 14px;
  margin-top: 10px;
}

.post-3 {
  grid-area: post-3;
}

.post-4 {
  grid-area: post-4;
}

.post-5 {
  grid-area: post-5;
}

.post-6 {
  grid-area: post-6;
}

.post-7 {
  grid-area: post-7;
}

.post-8 {
  grid-area: post-8;
  display: grid;
  grid-template-columns: 50% 50%;
}

.hot-news__item {
  background: rgba(0, 0, 0, 0.0001);
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.1);
}

.hot-news__subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}

.hot-news__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  margin-top: 15px;
}

.footer {
  background-color: #000;
  padding: 30px 0px;
}

.footer__conntaier {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 38px 64px;
}

.footer__copyright {
  color: #fff;
  font-size: 13px;
  line-height: 13px;
}
